<div class="col align-self-center">
  <div class="container align-self-center">
         <h1 class="display-3">Balls</h1>
         <h2>Radoslaw Golunski</h2>
         <h3>Zadanie na zaliczenie. W pozniejszej fazie aplikacja zostanie rozbudowna o dodatkowe funkcje.</h3>
         <hr class="my-4">
  </div>
</div>
